body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #777;
  }
  
  section {
    margin: 20px;
  }
  
  h1, h2 {
    color: #fff; /* Nouvelle couleur pour les titres */
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Ajout de couleurs */
  h2 {
    color: #0099cc;
  }
  
  p {
    color: #555;
  }
  
  ul {
    color: #777;
  }
  
  a {
    color: #0066cc;
  }
  
  a:hover {
    color: #003366;
  }
  